################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/pindball/v15/Browse.VC.db
/.vs/Pinball/v15/Browse.VC.opendb
/.vs/Pinball/v15/Browse.VC.db
